[user]
	name = tsutsu
	email = tsutsu0928@gmail.com
[core]
	sshCommand = C:/Windows/System32/OpenSSH/ssh.exe
	editor = code --wait
[diff]
	guitool = vscode
[difftool "vscode"]
	path = code
	cmd = code --wait --diff \"$LOCAL\" \"$REMOTE\"
[merge]
	guitool = vscode
[mergetool "vscode"]
	path = code
	cmd = code --wait \"$MERGED\"
[push]
	default = simple
[pull]
	rebase = false
[fetch]
	prune = false
[rebase]
	autoStash = false
[alias]
	mylog = log --graph --color=always --name-status --pretty=\"%C(auto)%h%Creset -%C(auto)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset\"
[ghq]
	root = C:/Users/tsutsu/dev/src
